<div class="card">
  <div class="card-header">
    <h1>Editing Project</h1>
  </div>
  <%= render 'form', project: @project %>
</div>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
